<div class="container">
    <h1>Submit new story</h1>
    <hr>
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <div class="col-md-12 field">
                <label class="control-label" for="titleInput">Title:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" id="titleInput" placeholder="Enter story title">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label">Share</label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline">
                    <input type="radio" name="share" value="shareAll" checked>Share with all
                </label>
            </div>
            <label class="radio-inline">
                <input type="radio" name="share" value="shareSome">Share with some
            </label>
        </div>
        <div class="form-group">
            <div class="col-md-12 field">
                <label class="control-label" for="categorySelect">Category</label>
            </div>
            <div class="col-md-3">
                <select class="form-control" id="categorySelect">
                    <option>General</option>
                    <option>Science Fiction</option>
                    <option>Narration</option>
                    <option>Horror</option>
                    <option>Drama</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 field">
                <label class="control-label">Image</label>
            </div>
            <div class="col-md-3">
                <input type="file">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 field">
                <label class="control-label" for="initText">Initial text:</label>
            </div>
            <div class="col-md-6">
                <div class="text">
                    <textarea rows="5" class="form-control" id="initText" placeholder="Provide the initial text for your story"></textarea>
                    <span class="char-counter">1050</span>
                </div>
                <div class="pull-right">
                    <div class="btn-bar">
                        <button type="submit" class="btn btn-info">Submit</button>
                        <button type="button" class="btn btn-info">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>