
<section id="main">
    <section class="welcome">
        <h1>The Story Club</h1>
        <p class="lead">The place to <a ui-sref="app.stories.form">create cooperative stories</a> and <a href="#">colaborate</a>.</p>
        <p><a ui-sref="app.stories.form" class="btn btn-primary btn-md">Start a story!</a></p>
    </section>

    <section class="feactured-list">

        <article class="story-card" ng-repeat="story in vm.stories">
            <figure>
                <img ng-src="{{story.image_url}}">
            </figure>
            <div class="backdrop"></div>
            <div class="featured-badge">
                <span class="feactured-text">
                    <i class="fa fa-angle-left"></i><i class="feat-ico"></i><i class="fa fa-angle-right"></i>
                </span>
                <span class="rate-star">{{story.favs}} <i class="fa fa-star"></i></span>
            </div>
            <div class="snapshot-container">
                <h2 class="title">
                    <a ui-sref="app.stories.single({id: story.id_story})">
                        {{story.title}}
                    </a>
                </h2>
                <p>
                    <small>
                        created by <a href="#" class="creator-name" ng-bind="story.creator.username"></a>
                    </small>
                </p>
                <div>
                    <p class="snapshot-text" ng-bind="story.first_text">
                    </p>
                    <a class="continue-link" ui-sref="app.stories.single({id: story.id_story})">Continue reading...</a>
                </div>
            </div>
        </article>

    </section>
</section>
<!--
<section class="story-list col-xs-12">
    <hr>
    <h4 class='section-title lead'>
        Popular Stories
    </h4>

    <div class="row">
        <div class="col-lg-3">
            <article class="story-card">
                <figure>
                    <img src="http://lorempixel.com/450/180/cats/">
                </figure>
                <div class="backdrop"></div>
                <div class="snapshot-container">
                    <h3 class="title">My Second Story</h3>
                    <p>
                        <small>
                            created by <a href="#" class="creator-name">satanis300</a>
                        </small>
                    </p>
                    <a class="continue-link" href="#read">Read story...</a>
                </div>
            </article>
        </div>

        <div class="col-lg-3">
            <article class="story-card">
                <figure>
                    <img src="http://lorempixel.com/450/180/animals/">
                </figure>
                <div class="backdrop"></div>
                <div class="snapshot-container">
                    <h3 class="title">My Second Story</h3>
                    <p>
                        <small>
                            created by <a href="#" class="creator-name">satanis300</a>
                        </small>
                    </p>
                    <a class="continue-link" href="#read">Read story...</a>
                </div>
            </article>
        </div>

        <div class="col-lg-3">
            <article class="story-card">
                <figure>
                    <img src="http://lorempixel.com/450/180/business/">
                </figure>
                <div class="backdrop"></div>
                <div class="snapshot-container">
                    <h3 class="title">My Second Story</h3>
                    <p>
                        <small>
                            created by <a href="#" class="creator-name">satanis300</a>
                        </small>
                    </p>
                    <a class="continue-link" href="#read">Read story...</a>
                </div>
            </article>
        </div>

        <div class="col-lg-3">
            <article class="story-card">
                <figure>
                    <img src="http://lorempixel.com/450/180/city/">
                </figure>
                <div class="backdrop"></div>
                <div class="snapshot-container">
                    <h3 class="title">My Second Story</h3>
                    <p>
                        <small>
                            created by <a href="#" class="creator-name">satanis300</a>
                        </small>
                    </p>
                    <a class="continue-link" href="#read">Read story...</a>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="story-list col-xs-12">
    <hr>
    <h4 class='section-title lead'>
        Hot Stories
    </h4>

    <div class="row">
        <div class="col-lg-3">
            <article class="story-card">
                <figure>
                    <img src="http://lorempixel.com/450/180/technics/">
                </figure>
                <div class="backdrop"></div>
                <div class="snapshot-container">
                    <h3 class="title">My Boring Story</h3>
                    <p>
                        <small>
                            created by <a href="#" class="creator-name">satanis300</a>
                        </small>
                    </p>
                    <a class="continue-link" href="#read">Read story...</a>
                </div>
            </article>
        </div>

        <div class="col-lg-3">
            <article class="story-card">
                <figure>
                    <img src="http://lorempixel.com/450/180/people/">
                </figure>
                <div class="backdrop"></div>
                <div class="snapshot-container">
                    <h3 class="title">My Boring Story</h3>
                    <p>
                        <small>
                            created by <a href="#" class="creator-name">satanis300</a>
                        </small>
                    </p>
                    <a class="continue-link" href="#read">Read story...</a>
                </div>
            </article>
        </div>

        <div class="col-lg-3">
            <article class="story-card">
                <figure>
                    <img src="http://lorempixel.com/450/180/abstract/">
                </figure>
                <div class="backdrop"></div>
                <div class="snapshot-container">
                    <h3 class="title">My Boring Story</h3>
                    <p>
                        <small>
                            created by <a href="#" class="creator-name">satanis300</a>
                        </small>
                    </p>
                    <a class="continue-link" href="#read">Read story...</a>
                </div>
            </article>
        </div>

        <div class="col-lg-3">
            <article class="story-card">
                <figure>
                    <img src="http://lorempixel.com/450/180/cats/">
                </figure>
                <div class="backdrop"></div>
                <div class="snapshot-container">
                    <h3 class="title">My Boring Story</h3>
                    <p>
                        <small>
                            created by <a href="#" class="creator-name">satanis300</a>
                        </small>
                    </p>
                    <a class="continue-link" href="#read">Read story...</a>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="story-list col-xs-12">
    <hr>
    <h4 class='section-title lead'>
        New Stories
    </h4>

    <div class="row">
        <div class="col-lg-3">
            <article class="story-card">
                <figure>
                    <img src="http://lorempixel.com/450/180/food/">
                </figure>
                <div class="backdrop"></div>
                <div class="snapshot-container">
                    <h3 class="title">My Last Story</h3>
                    <p>
                        <small>
                            created by <a href="#" class="creator-name">satanis300</a>
                        </small>
                    </p>
                    <a class="continue-link" href="#read">Read story...</a>
                </div>
            </article>
        </div>

        <div class="col-lg-3">
            <article class="story-card">
                <figure>
                    <img src="http://lorempixel.com/450/180/nightlife/">
                </figure>
                <div class="backdrop"></div>
                <div class="snapshot-container">
                    <h3 class="title">My Last Story</h3>
                    <p>
                        <small>
                            created by <a href="#" class="creator-name">satanis300</a>
                        </small>
                    </p>
                    <a class="continue-link" href="#read">Read story...</a>
                </div>
            </article>
        </div>

        <div class="col-lg-3">
            <article class="story-card">
                <figure>
                    <img src="http://lorempixel.com/450/180/nature/">
                </figure>
                <div class="backdrop"></div>
                <div class="snapshot-container">
                    <h3 class="title">My Last Story</h3>
                    <p>
                        <small>
                            created by <a href="#" class="creator-name">satanis300</a>
                        </small>
                    </p>
                    <a class="continue-link" href="#read">Read story...</a>
                </div>
            </article>
        </div>

        <div class="col-lg-3">
            <article class="story-card">
                <figure>
                    <img src="http://lorempixel.com/450/180/sports/">
                </figure>
                <div class="backdrop"></div>
                <div class="snapshot-container">
                    <h3 class="title">My Last Story</h3>
                    <p>
                        <small>
                            created by <a href="#" class="creator-name">satanis300</a>
                        </small>
                    </p>
                    <a class="continue-link" href="#read">Read story...</a>
                </div>
            </article>
        </div>
    </div>
-->
</section>
