{% load staticfiles %}

<script src="{% static 'lib/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'lib/angular/angular.js' %}"></script>
<script src="{% static 'lib/angular-resource/angular-resource.js' %}"></script>
<script src="{% static 'lib/angular-sanitize/angular-sanitize.js' %}"></script>
<script src="{% static 'lib/angular-ui-router/release/angular-ui-router.js' %}"></script>
<script src="{% static 'lib/angular-ui-router/release/angular-ui-router.js' %}"></script>
<script src="{% static 'lib/angular-bootstrap/ui-bootstrap.min.js' %}"></script>
<script src="{% static 'lib/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
<script src="{% static 'lib/bootswatch-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/config.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
