<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:void(0)">The Story Club</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

                <ul class="nav navbar-nav">
                    <li ui-sref-active="active">
                        <a ui-sref="app.stories.main">Home</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.stories.list" >Stories</a>
                    </li>
                </ul>

                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                    <input class="form-control" placeholder="Search" type="text">
                    </div>
                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:void(0)">Andrés</a></li>
                    <li><a href="javascript:void(0)">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section ui-view class="ng-cloak"></section>
